body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 40px;
}

p.bullet {
  display: list-item;
  list-style-type: disc;
  margin-left: 1.5em; /* Optional: indent */
}