* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif ;
}

header{
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
    
}

nav > img {
    width: 50px;
    margin-right: 15px;

}

nav > span {
    color: white;
    font-size: 1.4rem;

}
 footer {
 background-color: #21222A;
 color: white;
 

 }

ul{
    flex: 1;
    list-style: none;
    text-align: end;
    
}

ul li{
    display: inline-block;
    margin: 10px 20px ;
    font-size: 19px;
    cursor: pointer;


}
